<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Pointsaddon>
      <version>0.2.0</version>
    </Mec_Pointsaddon>
  </modules>
  <frontend>
    <routers>
      <pointsaddon>
        <use>standard</use>
          <args>
            <module>Mec_Pointsaddon</module>
            <frontName>pointsaddon</frontName>
          </args>
      </pointsaddon>
    </routers>
		<layout>
		  <updates>
			<pointsaddon>
			  <file>mec/pointsaddon.xml</file>
			</pointsaddon>
		  </updates>
		</layout>
  </frontend>
  <global>
	<rewrite>        
		<mec_pointsaddon_checkout_cartcontroller>
			<from><![CDATA[#^/checkout/cart/#]]></from> <!-- Mage_Checkout_CartController  -->
			<to>/pointsaddon/checkout_cart/</to> <!-- Mec_Pointsaddon_Checkout_CartController  -->
		</mec_pointsaddon_checkout_cartcontroller>
	</rewrite>
  
	<blocks>
		<checkout>
			<rewrite>
				<cart>Mec_Pointsaddon_Block_Checkout_Cart</cart>
				<cart_item_configure>Mec_Pointsaddon_Block_Checkout_Cart_Item_Configure</cart_item_configure>
			</rewrite>
		</checkout>
		<pointsaddon>
              <class>Mec_Pointsaddon_Block</class>
		</pointsaddon>
	</blocks>
    <helpers>
      <pointsaddon>
        <class>Mec_Pointsaddon_Helper</class>
      </pointsaddon>
    </helpers>
	<models>
	  <pointsaddon>
		<class>Mec_Pointsaddon_Model</class>
		<resourceModel>pointsaddon_mysql4</resourceModel>
	  </pointsaddon>
	  <pointsaddon_mysql4>
		<class>Mec_Pointsaddon_Model_Mysql4</class>
		<entities>		  
			  <pointset>
				<table>mec_tier_points_set</table>
			  </pointset>
        </entities>
	  </pointsaddon_mysql4>
	  
	</models>
	<resources>
	  <pointsaddon_setup>
		<setup>
		  <module>Mec_Pointsaddon</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </pointsaddon_setup>
	  <pointsaddon_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </pointsaddon_write>
	  <pointsaddon_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </pointsaddon_read>
	  
	  <salesattribute1389591266_setup>
		<setup>
		  <module>Mec_Pointsaddon</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1389591266_setup>
	  <salesattribute1389591266_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1389591266_write>
	  <salesattribute1389591266_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1389591266_read>
	  
	   <categoryattribute1389594150_setup>
		<setup>
		  <module>Mec_Pointsaddon</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1389594150_setup>
	  <categoryattribute1389594150_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1389594150_write>
	  <categoryattribute1389594150_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1389594150_read>
	  
	  <pointsaddon_catalog_setup>
		<setup>
		  <module>Mec_Pointsaddon</module>
		  <class>Mage_Eav_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </pointsaddon_catalog_setup>
	  <pointsaddon_catalog_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </pointsaddon_catalog_write>
	  <pointsaddon_catalog_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </pointsaddon_catalog_read>
	  
	  <salesattribute1389676636_setup>
		<setup>
		  <module>Mec_Pointsaddon</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1389676636_setup>
	  <salesattribute1389676636_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1389676636_write>
	  <salesattribute1389676636_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1389676636_read>
	  
	</resources>
	<events>
		<checkout_cart_add_product_complete>
			<observers>
				<checkout_cart_add_product_complete_handle>
					<type>singleton</type>
					<class>pointsaddon/observer</class>
					<method>salesQuoteItemSetCustomAttribute</method>
				</checkout_cart_add_product_complete_handle>
			</observers>
		</checkout_cart_add_product_complete>
		
		<checkout_cart_update_item_complete>
			<observers>
				<checkout_cart_update_item_complete_handle>
					<type>singleton</type>
					<class>pointsaddon/observer</class>
					<method>updateSalesQuoteItemSetCustomAttribute</method>
				</checkout_cart_update_item_complete_handle>
			</observers>
		</checkout_cart_update_item_complete>
		
		<sales_order_place_after>
			<observers>
				<mec_points_order_place_after>
					<type>singleton</type>
					<class>pointsaddon/observer</class>
					<method>orderPlaceAfter</method>
				</mec_points_order_place_after>
			</observers>
		</sales_order_place_after>
	<checkout_type_onepage_save_order_after> <!-- identifier of the event we want to catch -->
        <observers>
          <checkout_type_onepage_save_order_after_mecpoint_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>pointsaddon/observer</class> <!-- observers class alias -->
            <method>saveMecpointTotal</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </checkout_type_onepage_save_order_after_mecpoint_handler>
	    </observers>
      </checkout_type_onepage_save_order_after>		
	<checkout_type_multishipping_create_orders_single> <!-- identifier of the event we want to catch -->
        <observers>		
          <checkout_type_multishipping_create_orders_single_mecpoint_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>pointsaddon/observer</class> <!-- observers class alias -->
            <method>saveMecpointTotalForMultishipping</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </checkout_type_multishipping_create_orders_single_mecpoint_handler>		
        </observers>
      </checkout_type_multishipping_create_orders_single>
		
	</events>
	<fieldsets>
		<sales_convert_quote_item>
			<points_set_id>
				<to_order_item>*</to_order_item>
			</points_set_id>
			<points>
				<to_order_item>*</to_order_item>
			</points>
		</sales_convert_quote_item>
		<sales_convert_order_item>
			<points_set_id>
				<to_quote_item>*</to_quote_item>
			</points_set_id>
			<points>
				<to_quote_item>*</to_quote_item>
			</points>
		</sales_convert_order_item>
	</fieldsets>
	<sales>
		<quote>
			<totals>				
	            <mecpoint_total>
					<class>pointsaddon/quote_address_total_mecpoint</class>
					<after>subtotal,freeshipping,tax_subtotal,shipping</after>
					<before>grand_total</before>
				</mecpoint_total> 
			</totals>
		</quote>
            <order_invoice>
                <totals>				
	            <mecpoint_total>
					<class>pointsaddon/order_invoice_total_mecpoint</class>
					<after>subtotal,freeshipping,tax_subtotal,shipping</after>
					<before>grand_total</before>
				</mecpoint_total> 
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>				
	            <mecpoint_total>
					<class>pointsaddon/order_invoice_total_mecpoint</class>
					<after>subtotal,freeshipping,tax_subtotal,shipping</after>
					<before>grand_total</before>
				</mecpoint_total> 
                </totals>
            </order_creditmemo>
	</sales>	
  </global>
  <adminhtml>
	<layout>
		<updates>
			<customtabs>
				<file>mec/points_add.xml</file>
			</customtabs>
		</updates>
	</layout>
	<events>
	  <catalog_product_save_after> <!-- identifier of the event we want to catch -->
        <observers>
          <catalog_product_save_after_handler> <!-- identifier of the event handler -->
            <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
            <class>pointsaddon/observer</class> <!-- observers class alias -->
            <method>saveProductTabData</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </catalog_product_save_after_handler>
        </observers>
      </catalog_product_save_after>
    </events>
	
  </adminhtml>
</config> 